apiVersion: v1
kind: ResourceQuota
metadata:
  name: infinion-quota
  namespace: infinion
spec:
  hard:
    requests.cpu: "4"
    requests.memory: "4Gi"
    limits.cpu: "8"
    limits.memory: "8Gi"
    pods: "20"
    services: "5"
